
<!-- <div class="'footer" navbar-fixed-button>
    <p class="text-center">&copy;E-Shop pvt.ltd rights reserved</p>

</div> -->

<section class="buttom">
    <footer class="pt-2 pb-2 bg-secondary text-light">
        <div class="cointainer">
            <div class="row align-items-center">
                <div class="col-12 col-md-11 mt-4 mt-md-0 text-center">
                    &copy;E-shop Pvt.Ltd.All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
</section>